.links a{
    margin-right: 20px;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    color: rgb(14, 54, 104);
}
.txt{
    color: rgb(14, 54, 104);
    text-decoration: underline;
    font-size: xx-large;
    margin-left: -460px;

}
.header{
    display: flex;
    gap: 300px;
    justify-content: space-evenly;
    margin-left: 0px;
  
}
.links{
    margin-top: 50px;
    margin-top: 100px;
    margin-right: -400px;
}

.para{
font-size: xx-large;
font-weight: bold;
background-color: bisque;
text-align: center;
}.p1{
    color: rgb(14, 54, 104);
    font-size: large;
}
.moi1{
    border: 1px solid black;
}
.frow{
    display: flex;
    gap: 250px;
    justify-content: space-evenly;
}
.logo{
    margin-left: -250px;
border-radius: 12%;
margin-top: 20px;
}
